/* Reset margin and padding for the body and html */
body, html {
    margin: 0;
    padding: 0;
}

/* Add this to make sure the Component2 takes full height */
html, body, .Component2 {
    height: 100%;
}

.Frame1, .Frame2, .Frame3 {
    box-sizing: border-box; /* Include padding in the element's total width and height */
    padding: 10vh; /* Adjust as needed */
    display: flex;
    justify-content: space-between; /* Distribute content with space between */
    align-items: center;
    width: 100%;
}

.Frame1 {
    background: #CB4A4A;
    height: 100vh; /* Take up the full height of the viewport */
}

.Frame2 {
    background: #A3A566;
    height: 100vh;
}

.Frame3 {
    background: #82A8E1;
    height: 100vh;
}

/* Add this to style the navigation menu */
.Navigation {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff; /* Adjust as needed */
    padding: 10px;
    z-index: 1000;
}

.Navigation a {
    margin-right: 20px;
    text-decoration: none;
    color: #333; /* Adjust as needed */
    font-weight: bold;
}

.Navigation a:hover {
    color: #CB4A4A; /* Adjust as needed */
}

/* Add this to adjust the spacing */
.Component2 {
    margin-top: 0; /* Adjust as needed */
}

/* Add this to style the image */
.Icon {
    width: 700px; /* Adjust as needed for the image size */
}

/* Responsive font size for smaller screens */
.Burger, .PizZa, .RaMen {
    width: 100%;
    max-width: 60%; /* Adjust as needed */
    font-size: 200px; /* Adjust the font size as needed */
}

@media (max-width: 600px) {
    .Burger, .PizZa, .RaMen {
        font-size: 150px; /* Adjust the font size for smaller screens */
    }
}


/* Add this to style the text and image containers */
.TextContainer, .ImageContainer {
    flex: 1; /* Distribute available space equally */
}

.ImageContainer {
    text-align: right; /* Align image to the right */
}
